[Desktop Entry]
Name=TTY Vim
Exec=foot --app-id="ttyvim" nvim +terminal +startinsert 
Icon=nvim
Type=Application
Categories=Development;TextEditor;
Terminal=false
StartupNotify=true
StartupWMClass=ttyvim
